<% include ./header.ejs %>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="container">
    <div class="row">
    <div class="col-md-4 col-md-offset-4">
    <div class="form-body">
        <ul class="nav nav-tabs final-login">
            <li class="active"><a data-toggle="tab" href="#sectionA">Sign In</a></li>
            <li><a data-toggle="tab" href="#sectionB">Join us!</a></li>
        </ul>
        <div class="tab-content">
            <div id="sectionA" class="tab-pane fade in active">
            <div class="innter-form">
                <form class="sa-innate-form" method="post" action="/signup">
                <label>Email Address</label>
                <input type="email" name="username" required>
                <label>Password</label>
                <input type="password" name="password" required>
                <button type="submit">Sign In</button>
                <a href="">Forgot Password?</a>
                </form>
                </div>
                <div class="social-login">
                <p>- - - - - - - - - - - - - Sign In With - - - - - - - - - - - - - </p>
                <ul>
                <li><a href=""><i class="fa fa-facebook"></i> Facebook</a></li>
                <li><a href=""><i class="fa fa-google-plus"></i> Google+</a></li>
                <li><a href=""><i class="fa fa-twitter"></i> Twitter</a></li>
                </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="sectionB" class="tab-pane fade">
                <div class="innter-form">
                <form class="sa-innate-form" method="post" action="/signup">
                <label>Name</label>
                <input type="text" name="name" required>
                <label>Email Address</label>
                <input type="email" name="email" required>
                <label>Password</label>
                <input type="password" name="password" required>
                <button type="submit">Join now</button>
                <p>By clicking Join now, you agree to hifriends's User Agreement, Privacy Policy, and Cookie Policy.</p>
                </form>
                </div>
                <div class="social-login">
                <p> - - - - - - - - - - - Register With - - - - - - - - - - - </p>
                <ul>
                <li><a href=""><i class="fa fa-facebook"></i> Facebook</a></li>
                <li><a href=""><i class="fa fa-google-plus"></i> Google+</a></li>
                <li><a href=""><i class="fa fa-twitter"></i> Twitter</a></li>
                </ul>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <% include ./footer.ejs %>
