<div class="footer">
    <p class="foot">Copyright &copy; 2018 <a target="_blank" href="https://www.facebook.com/savage.pd756859>">Prakash Das</a></p>
</div>
<script>
        jQuery(window).load(function(){
        jQuery('.loader').fadeOut();
        jQuery('.loader').removeClass();
        });
    </script>
</body>