<head>
    <meta charset="UTF-8">
    <title>Heart Disease Predictor</title>
    <link href="/css/mainlogin.css" rel="stylesheet" type="text/css">
    <meta name="theme-color" content="#D0D0E7" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico"/>


    
