<head>
<meta charset="UTF-8">
<title>Heart Disease Predictor</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#D0D0E7" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<link href="/css/main.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</head>
<body>
    <div class="loader">Loading...</div>
  <div class="topnav" id="myTopnav">
        <a href="/" class="active">MyHeart</a>
        <a href="/profile">Profile</a>
        <a href="/main">Predict</a>
        <a href="/about">About</a>
        <a href="/logout">Logout</a>

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      