<% include ./header.ejs %>
<h2 class="heading">Please enter values for Prediction</h2>
<body>
<form method="post" action="/main">
  <div class="form-group">
  <input type="number" class="form-control" placeholder ="age" name="age" value="60" />
  </div>
  <br>
  <div class="form-group">
  <input type="number" class="form-control" placeholder ="sex" name="sex" value="1"/>
  </div>
  <br>
  <div class="form-group">
  <input type="text" class="form-control" placeholder ="cp" name="cp" value="4"/>
  </div>
  <br>
  <div class="form-group">

  <input type="text" class="form-control"  placeholder ="bps" name="bps" value="130"/>
  </div>
  <br>
  <div class="form-group">

  <input type="text"  class="form-control" placeholder ="chol" name="chol" value="206"/>
  </div>
  <br>
  <div class="form-group">

  <input type="text" class="form-control"  placeholder ="fbs" name="fbs" value="0"/>
  </div>
  <br>
  <div class="form-group">
  <input type="text" class="form-control"  placeholder ="restecg" name="restecg" value="2"/>
  </div>
  <br>
 <div class="form-group">

  <input type="text" class="form-control" placeholder ="thalach" name="thalach" value="132" />
  </div>
  <br>
  <div class="form-group">

  <input type="text" class="form-control" placeholder ="exang" name="exang" value="1"/>
  </div>
  <br>
  <div class="form-group">

  <input type="text" class="form-control" placeholder ="oldpeak" name="oldpeak" value="2.4" />
  </div>
  <br>
  <div class="form-group">

  <input type="text" class="form-control" placeholder ="slope" name="slope" value="2"/>
  </div>
  <br>
  <div class="form-group">

  <input type="text" class="form-control" placeholder ="ca" name="ca" value="2"/>
  </div>
  <br>
  <div class="form-group">

  <input type="text" class="form-control" placeholder ="thal" name="thal" value="7"/>
  </div>
  <br>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<%= tensor %>
<% include ./footer.ejs %>