<head>
    <meta charset="UTF-8">
    <title>Heart Disease Predictor</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <script src="/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <meta name="theme-color" content="#FF5722" />
    </head>
    <body>
        <div class="loader">Loading...</div>
      <div class="topnav" id="myTopnav">
            <a href="/" class="active">MyHeart</a>
            <a href="/profile">Profile</a>
            <a href="/main">Predict</a>
            <a href="/about">About</a>
            <a href="/logout">Logout</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
          </div>
          <div class="border">
<aside class="profile-card">
  <header>
    <!-- here’s the avatar -->
    <a target="_blank" href="#">
      <img src="/assets/man.png" class="hoverZoomLink">
    </a>

    <!-- the username -->
    <h1>
      <% if (name){ %>
            <%= name.charAt(0).toUpperCase().concat(name.slice(1))%>
            <% } %>
          </h1>

    <!-- and role or location -->
    <h2>
            Better Visuals
          </h2>

  </header>

  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">

    <p>
      It takes monumental improvement for us to change how we live our lives. Design is the way we access that improvement.
    </p>

  </div>

  <!-- some social links to show off -->
  <ul class="profile-social-links">
    <li>
      <a target="_blank" href="https://www.facebook.com/creativedonut">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://twitter.com/dropyourbass">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://github.com/vipulsaxena">
        <i class="fa fa-github"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.behance.net/vipulsaxena">
       
        <i class="fa fa-behance"></i>
      </a>
    </li>
  </ul>
</aside>

<div class="footer" style="position: absolute">
    <p class="foot">Copyright &copy; 2018 <a target="_blank" href="https://www.facebook.com/savage.pd756859>">Prakash Das</a></p>
</div>